*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #bfd0df, #0084ff);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  
}
.grid_in{
  display: grid;
  gap: 10px;
  border: 6px solid #09135e;
  border-radius:10px;
  box-shadow: 0px 0px 10px #fff, inset 0px 0px 10px #fff;
  padding: 1rem;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}

.grid_in > button {
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  background-color: rgb(81, 139, 239);
  border: 4px solid rgb(40, 68, 222)!important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.grid_in > button:hover {
  color: rgb(211, 211, 211);
  background-color: rgb(67, 128, 234);
  border: 4px solid rgb(28, 55, 208)!important;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(183, 203, 221);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 8px;
  word-wrap: break-word;
  word-break: break-all;
  border: 6px solid rgb(21, 46, 188)!important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.output .previous-operand {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;

}

.output .current-operand {
  color: rgb(56, 55, 55);
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
}